In [1]:
import pandas as pd 
stats = pd.read_csv("DatasetsOriginais/stats.csv", delimiter = ';', encoding='Windows-1252')

In [3]:
stats = stats.drop(['Rk', 'Age'],axis=1)

In [5]:
stats = stats.rename(columns={'Player': 'PlayerName', 'Nation': 'nationality', 'Pos': 'Position', 'Squad': 'Affiliation', 'Comp': 'League'})

In [12]:
def replace_position(position):
    if position.startswith("FW"):
        return "Forward"
    elif position.startswith("MF"):
        return "Midfielder"
    elif position.startswith("DF"):
        return "Defender"
    elif position.startswith("GK"):
        return "Goalkeeper"
    else:
        return position
    

stats["Position"] = stats["Position"].apply(replace_position)

In [13]:
stats.head()

,PlayerName,nationality,Position,Affiliation,League,Born,MP,Starts,Min,90s,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,Max Aarons,ENG,Defender,Norwich City,Premier League,2000,34,32,2881,32.0,...,0.03,1.41,1.16,0.0,0.06,0.03,5.53,0.47,1.59,22.7
1,Yunis Abdelhamid,MAR,Defender,Reims,Ligue 1,1987,34,34,2983,33.1,...,0.00,0.06,1.39,0.0,0.03,0.00,6.77,2.02,1.36,59.8
2,Salis Abdul Samed,GHA,Midfielder,Clermont Foot,Ligue 1,2000,31,29,2462,27.4,...,0.00,0.36,1.24,0.0,0.00,0.00,8.76,0.88,0.88,50.0
3,Laurent Abergel,FRA,Midfielder,Lorient,Ligue 1,1993,34,34,2956,32.8,...,0.03,0.79,2.23,0.0,0.00,0.00,8.87,0.43,0.43,50.0
4,Charles Abi,FRA,Forward,Saint-Étienne,Ligue 1,2000,1,1,45,0.5,...,0.00,2.00,0.00,0.0,0.00,0.00,4.00,2.00,0.00,100.0

In [14]:
stats.to_csv('stats_clean.csv', index=False)

In [17]:
countries = pd.read_csv("DatasetsOriginais/all.csv", delimiter = ',')

In [19]:
countries = countries.loc[:, ['alpha-3', 'name']]

In [24]:
countries = countries.rename(columns={'alpha-3': 'nationality', 'name' : 'Country'})

In [25]:
countries.head()

  nationality         Country
0         AFG     Afghanistan
1         ALA   Åland Islands
2         ALB         Albania
3         DZA         Algeria
4         ASM  American Samoa

In [26]:
# merge dos datasets
merged_data = pd.merge(stats, countries, on='nationality')

In [30]:
merged_data.head()
merged_data.to_csv('exam.csv', index=False)

In [31]:
stats = merged_data

In [ ]:
stats = stats.drop(['nationality'],axis=1)

In [35]:
stats = stats.rename(columns={'Country': 'nationality'})

In [36]:
stats.head()

,PlayerName,Position,Affiliation,League,Born,MP,Starts,Min,90s,Goals,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,nationality
0,Yunis Abdelhamid,Defender,Reims,Ligue 1,1987,34,34,2983,33.1,0.06,...,0.06,1.39,0.00,0.03,0.0,6.77,2.02,1.36,59.8,Morocco
1,Nayef Aguerd,Defender,Rennes,Ligue 1,1996,31,31,2735,30.4,0.07,...,0.07,0.39,0.03,0.07,0.0,7.63,3.55,1.51,70.1,Morocco
2,Sofiane Alakouch,Defender,Metz,Ligue 1,1998,4,0,158,1.8,0.00,...,0.56,3.33,0.00,0.00,0.0,8.89,0.56,0.56,50.0,Morocco
3,Sofyan Amrabat,Midfielder,Fiorentina,Serie A,1996,23,8,944,10.5,0.10,...,0.29,2.10,0.00,0.00,0.0,10.90,0.95,1.62,37.0,Morocco
4,Aymen Barkok,Midfielder,Eint Frankfurt,Bundesliga,1998,5,2,160,1.8,0.00,...,0.00,1.67,0.00,0.00,0.0,11.70,3.33,1.11,75.0,Morocco

In [37]:
stats.to_csv('stats_clean.csv', index=False)